{% extends "editprofile.html" %}

{% block title %} index {% endblock %}



{% block editcontent %}

    <div class="panel panel-info">

        <div class="panel-heading">

            <h3 class="panel-title ">Your photo</h3>

        </div>

        <div class="panel-body">
            <br><br>
            <div align="center">
                <div class="col-lg-12 col-md-12">
                    <img class="img-thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png"
                         width="300px" height="300px">
                </div>
                <div class="col-lg-12 col-md-12">
                    <button class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Upload a new profile
                        photo!
                    </button>
                </div>
            </div>
        </div>
    </div>





{% endblock editcontent %}