{% extends "base.html" %}


{% block title %}
    <title>Property list</title>

{#    {% load static %}#}
{#    <!-- Favicons-->#}
{#    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">#}
{#    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">#}
{#    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">#}
{#    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">#}
{#    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">#}

{% endblock %}

{% block content %}


    <!-- SubHeader =============================================== -->
    {% load static %}

    <section class="parallax-window" id="short" data-parallax="scroll"
             data-image-src="{% static 'acomodation/img/sub_header_short.jpg' %}" data-natural-width="1400"
             data-natural-height="350">
        <div id="subheader">
            <h1>Your Properties </h1>
        </div><!-- End subheader -->
    </section><!-- End section -->
    <!-- End SubHeader ============================================ -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-9 col-md-10 col-md-offset-1">

                <!--------------------  room list ---------------------->
                {% for property in properties %}
                    <div class="row">
                        <div class="room_desc clearfix" onclick="location.href='{% url "property:look_detail_of_myProperty" property.id %}';">
                            <div class="col-md-7">
                                <figure><img src="{{ property.images_set.first.image.url }}" alt="" class="img-responsive"></figure>
                            </div>
                            <div class="col-md-5 room_list_desc">
                                {% if property.types_property == "H" %}
                                    <h3>House</h3>
                                {% elif property.types_property == "A"%}
                                    <h3>Apartment</h3>
                                {% elif property.types_property == "S" %}
                                    <h3>Studio</h3>
                                {% elif property.types_property == "O" %}
                                    <h3>Others</h3>
                                {% endif %}
                                <p><strong>City:&nbsp;</strong>{{ property.city }}  &nbsp; <strong>State:&nbsp;</strong>{{ property.state }}</p>
                                <p><strong>Postcode:&nbsp;</strong>{{ property.postcode }}</p>
                                <p><strong>Address:&nbsp;</strong>{{ property.address }}</p>
                                <ul>
                                    {% if property.num_double_bed > 0 %}
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                                                <div class="tooltip-content">King size bed X {{ property.num_double_bed }}</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if property.wifi %}
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                                                <div class="tooltip-content">Free Wifi</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if property.num_bathrooms > 0 %}
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                                                <div class="tooltip-content">Shower x {{ property.num_bathrooms }}</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if property.tv %}
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                                                <div class="tooltip-content">Plasma TV</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if property.parking %}
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-27"></i></span>
                                                <div class="tooltip-content">Parking Area</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if property.pet %}
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-22"></i></span>
                                                <div class="tooltip-content">Pets</div>
                                            </div>
                                        </li>
                                    {% endif %}

                                </ul>
                                <div class="price">from <strong>${{ property.price }}</strong> /night

                                    <small><span class="icon_set_1_icon-58">Breakfast included</span></small>
                                </div>
                            </div>
                        </div>
                    </div><!-- End row room -->
                {% endfor %}
            </div>


        </div><!-- End row -->
    </div><!-- End container -->
{% endblock %}



{% block script %}
<script src="{% static 'acomodation/js/theia-sticky-sidebar.js' %}"></script>
<script>
    jQuery('.sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>
{% endblock script %}

