{% extends "base.html" %}

{% block title %}
    <title>Negotiation Form</title>
        <!-- SPECIFIC CSS -->
        {#    ........#}
{% endblock %}

{% block content %}

    <!--加自己选的page对应的subheader，背景图片-->
    {% load static %}
    <!-- SubHeader =============================================== -->
    <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{% static 'acomodation/img/sub_header_short.jpg' %}" data-natural-width="1400"
             data-natural-height="350">
        <div id="subheader">
            <h1>Negotiation Form</h1>
        </div><!-- End subheader -->
    </section><!-- End section -->
    <!-- End SubHeader ============================================ -->




    <!---  你的表格等等-->
     <div class="container margin_60_35">
        <h2 class="main_title"><em></em>Negotiate with Host <span>Write your request here</span></h2>
         <form action="{% url 'PendingAndBooking:add_pending' %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
            <input type="hidden" name="trip_id" value="{{ trip_id }}">
            <div class="row add_top_20">
                <div class="col-md-8 col-md-offset-2">
                    <div id="message-contact">
                        <h3><strong>Step 1:</strong> Do you want to negotiating the price?</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label >Price($)</label>
                                <input type="text" id="price" name="price" value="{{ property.price}}" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Guests</label>
                                <input type="text" id="capacity" name="capacity" value="{{ property.capacity }}"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div id="message-contact">
                        <h3><strong>Step 2:</strong> Do you want to negotiating these with the host?</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label >Party</label>
                                {% if property.party %}
                                    <input type="checkbox" id="party" name="party" checked="checked" value="True" class="form-control">
                                {% else %}
                                    <input type="checkbox" id="party" name="party" value="True" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label >Pet</label>
                                {% if property.pet %}
                                    <input type="checkbox" id="pet" name="pet" checked="checked" value="True" class="form-control">
                                {% else %}
                                    <input type="checkbox" id="pet" name="pet" value="True" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label >Smoking</label>
                                {% if property.smoking %}
                                    <input type="checkbox" id="smoking" name="smoking" checked="checked" value="True" class="form-control">
                                {% else %}
                                    <input type="checkbox" id="smoking" name="smoking" value="True" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label >Couple</label>
                                {% if property.couple == True %}
                                    <input type="checkbox" id="couple" name="couple" checked="checked" value="True" class="form-control">
                                {% else %}
                                    <input type="checkbox" id="couple" name="couple" value="True" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row add_bottom_30">
                <div class="col-md-6 col-md-offset-2" >
                    <div class="form-group">
                        <h4><strong>Click the bottom to sent the negotiating form to the host.</strong></h4>
                    </div>
                    <input type="submit" value="Sent Pending form" class="btn_1" id="submit-pending_request">
                </div>
            </div>
         </form>
    </div><!-- End Container -->

{% endblock content %}


{% block script %}
    <div id="dtBox"></div><!-- End datepicker -->
    <script type="text/javascript" src="{% static 'acomodation/js/DateTimePicker.js' %}"></script>
    <script type="text/javascript">$("#dtBox").DateTimePicker();</script>
{% endblock script %}


