{% extends "base.html" %}
{% block title %}


    <title>Property_detail</title>

    {#    <!-- Favicons-->#}
    {#    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">#}
    {#    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">#}
    {#    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">#}
    {#    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">#}
    {#    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">#}
{% endblock %}


{% block content %}


    <!------------ picture presentation -------------->

    <div class="carousel_in">
        {% for image in property.images_set.all %}
            <div><img src="{{ image.image.url }}" alt="" height="450px">
                <div class="caption"><h3>Detail Picture</h3></div>
            </div>
        {% endfor %}
    </div>

    <!------------ end picture presentation -------------->

    <!------------ detail presentation -------------->
    {% if property.types_property == "H" %}
        <h1 class="main_title_in">House</h1>
    {% elif property.types_property == "A" %}
        <h1 class="main_title_in">Apartment</h1>
    {% elif property.types_property == "S" %}
        <h1 class="main_title_in">Studio</h1>
    {% elif property.types_property == "O" %}
        <h1 class="main_title_in">Others</h1>
    {% endif %}

    <div class="container add_bottom_60">

        <div class="row">
            <div class="col-md-8" id="room_detail_desc">
                <div id="single_room_feat">
                    <ul>
                        <li><i class="icon_set_1_icon-58" ></i>Breakfast</li>
                        {% if property.wifi %}
                            <li><i class="icon_set_1_icon-7"></i>Wifi</li>
                        {% endif %}
                        {% if property.tv %}
                            <li><i class="icon_set_2_icon-116"></i>TV</li>
                        {% endif %}
                        {% if property.num_double_bed %}
                            <li><i class="icon_set_2_icon-104"></i>Double size bed</li>
                        {% endif %}
                        {% if property.num_single_bed %}
                            <li><i class="icon_set_2_icon-114"></i>Single Bed</li>
                        {% endif %}
                        {% if property.bathtub %}
                            <li><i class="icon_set_2_icon-111"></i>Bathtub</li>
                        {% endif %}
                        {% if property.parking %}
                            <li><i class="icon_set_1_icon-27"></i>Parking</li>
                        {% endif %}
                        {% if property.swimming_pool %}
                            <li><i class="icon_set_2_icon-110"></i>Swimming Pool</li>
                        {% endif %}
                        {% if property.gyms %}
                            <li><i class="icon_set_2_icon-117"></i>Gym</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h3>Description</h3>
                    </div>
                    <div class="col-md-9">
                        <p>
                            This is a very good house with a beautiful environment, complete facilities, a very good landlord
                            and a spacious room. If you choose this house, I believe that you and your family and friends will
                            definitely have a perfect journey.
                        </p>
                        <h4>Room facilities</h4>
                        <p>
                            Our rooms have many perfect facilities for your convenience, and all facilities are regularly replaced
                            and repaired to ensure a comfortable stay.
                        </p>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <ul class="list_ok">
                                    {% if property.kitchen %}
                                        <li>kitchen</li>
                                    {% endif %}
                                    {% if property.in_unit_washer %}
                                        <li>In-unit-Washer</li>
                                    {% endif %}
                                    {% if property.wifi %}
                                        <li>WIfI</li>
                                    {% endif %}
                                    {% if property.elevator %}
                                        <li>Elevator</li>
                                    {% else %}
                                        <li>Elevator</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <ul class="list_ok">
                                    {% if property.heating %}
                                        <li>Heating</li>
                                    {% endif %}
                                    {% if property.ac %}
                                        <li>Air-conditioning</li>
                                    {% endif %}
                                    {% if property.tv %}
                                        <li>TV</li>
                                    {% endif %}
                                    {% if property.blower %}
                                        <li>Hairdryer</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <ul class="list_ok">
                                    {% if property.bathtub %}
                                        <li>Bathtub</li>
                                    {% endif %}
                                    {% if property.parking %}
                                        <li>Parking</li>
                                    {% endif %}
                                    {% if property.swimming_pool %}
                                        <li>Swimming Pool</li>
                                    {% endif %}
                                    {% if property.gyms %}
                                        <li>Gym</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div><!-- End row  -->
                        <h4>Room Prices</h4>
                        <h2 class="main_title_in price">
                            from <strong>${{ property.price }}</strong>/night
                        </h2>

                    </div><!-- End col-md-9  -->
                </div><!-- End row  -->

                <hr>


                <div class="row">

                    {######################                     写 评论#}

                    <div class="col-md-3">
                        <h3>Reviews</h3>
                        {% if trip_id != '0' %}
                            <a href="#" class="btn_1 add_bottom_15" data-toggle="modal" data-target="#myReview">Leave a
                                review</a>
                        {% endif %}
                    </div>

                    {#########################                评论概况#}

                    <div class="col-md-9">
                        <div id="score_detail"><span>{{ review_summary.average_rating }}</span>Good
                            <small>(Based on {{ review_summary.num_review }} reviews)</small>
                        </div><!-- End general_rating -->
                        <div class="row" id="rating_summary">
                            <div class="col-md-6">
                                <ul>
                                    <li>Position
                                        <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i
                                                class="icon-star"></i><i
                                                class="icon-star-empty"></i><i class="icon-star-empty"></i>
                                        </div>
                                    </li>
                                    <li>Comfort
                                        <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i
                                                class="icon-star"></i><i
                                                class="icon-star"></i><i class="icon-star-empty"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>Price
                                        <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i
                                                class="icon-star"></i><i
                                                class="icon-star-empty"></i><i class="icon-star-empty"></i>
                                        </div>
                                    </li>
                                    <li>Quality
                                        <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i
                                                class="icon-star"></i><i
                                                class="icon-star"></i><i class="icon-star-empty"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- End row -->

                        <hr>


                        {###################                    评论   Property/vires.property_detail #}
                        {% for review_list in review_lists %}
                            <div class="review_strip_single">
                                <img src="img/avatar1.jpg" alt="" class="img-circle">
                                <small> {{ review_list.time }} -</small>
                                <h4>{{ review_list.name }}</h4>
                                <p>
                                    {{ review_list.review }}
                                </p>
                                <div class="rating">
                                    {% for i in review_list.ratings_p %}
                                        <i class="icon-star"></i>
                                    {% endfor %}
                                    {% for i in review_list.ratings_n %}
                                        <i class="icon-star-empty"></i>
                                    {% endfor %}
                                </div>
                            </div><!-- End review strip -->
                        {% endfor %}


                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Policies</h3>
                    </div>
                    <div class="col-md-9">
                        <ul id="policies">
                            {% if property.smoking %}
                                <li><i class="icon_set_1_icon-47"></i><h5>Smoking</h5>
                                    <p>This house is allowed to smoke and you don't need to worry about smoke alarms. </p>
                                </li>
                            {% endif %}

                            {% if property.pet %}
                                <li><i class="icon_set_1_icon-22"></i><h5>Pets</h5>
                                    <p>This house is pet-friendly and you and your pet friends can spend a perfect journey together.</p>
                                </li>
                            {% endif %}
                            {% if property.party %}
                                <li><i class="icon_set_1_icon-99"></i><h5>Play a Party</h5>
                                    <p>You can have a party with your partner in this house and enjoy your time.</p>
                                </li>
                            {% endif %}
                            {% if property.couple %}
                                <li><i class="icon_set_1_icon-82"></i><h5>Couple</h5>
                                    <p>This house allows couples to stay and you can spend a sweet night with your partner.</p>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div><!-- End col -->


            <!----------------- booking -------------->

            <div class="col-md-4" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="box_style_1">
                        <div id="message-booking"></div>
                        {% if user.is_authenticated %}
                            <form method="post" id="check_avail" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Check-in</label>
                                            <input class="startDate1 form-control datepick" type="text"
                                                   data-field="date"
                                                   data-startend="start" data-startendelem=".endDate1" readonly
                                                   placeholder="Arrival" id="check_in" name="check_in">
                                            <span class="input-icon"><i class="icon-calendar-7"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Check-out</label>
                                            <input class="endDate1 form-control datepick" type="text" data-field="date"
                                                   data-startend="end" data-startendelem=".startDate1" readonly
                                                   placeholder="Departure" id="check_out" name="check_out">
                                            <span class="input-icon"><i class="icon-calendar-7"></i></span>
                                        </div>
                                    </div>
                                </div><!-- End row -->

                                <div class="row">

                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Contact Name</label>
                                            <input type="text" class="form-control" name="name_booking"
                                                   id="name_booking"
                                                   placeholder="Name and Last name">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Contact Phone</label>
                                            <input type="text" class="form-control" name="Phone_booking"
                                                   id="Phone_booking"
                                                   placeholder="Contact Phone">
                                        </div>
                                        <div class="alert alert-danger" id='bk_phone_invalid' style="display: none;">
                                            invalid Phone number!
                                        </div>
                                        <div class="alert alert-danger" id='bk_property_invalid' style="display: none;">
                                            This property is unavailable, please check another date or other properties!
                                        </div>
                                    </div>
                                    <input type="hidden" id="property_id" value="{{ property_id }}" name="property_id">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="submit" value="Book now" class="btn_full" id="submit-booking">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="NEGOTIATION now" class="btn_full" id="submit-pending">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn_full" id="submit-booking"
                                                onclick="document.getElementById('modal-wrapper2').style.display='block'">
                                            Please login before booking
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn_full" id="submit-booking"
                                                onclick="document.getElementById('modal-wrapper').style.display='block'">
                                            Or Sign up right now
                                        </button>
                                    </div>
                                </div>
                            </div>

                            {#                            <li><a onclick="document.getElementById('modal-wrapper').style.display='block'">Sign#}
                            {#                                    up</a></li>#}
                        {% endif %}
                        <hr>
                        <a href="#0" class="btn_outline"> or Contact us</a>
                        <a href="tel://004542344599" id="phone_2"><i class="icon_set_1_icon-91"></i>+61 405 859 133</a>

                    </div><!-- End box_style -->
                </div><!-- End theiaStickySidebar -->
            </div><!-- End col -->

        </div><!-- End row -->

    </div><!-- End container -->
    <!------------ end detail presentation -------------->


    <div id="dtBox"></div><!-- End datepicker -->

{% endblock content %}


{% block script %}
    {% load static %}
    <!-- Modal Review -->
    {#################################    添加评论#}

    <div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myReviewLabel" style="font-weight:500;">Write your review</h4>
                </div>
                <div class="modal-body">
                    <div id="message-review">
                    </div>


                    {#review 表单#}
                    <form method="post" name="review">

                        <input type="hidden" id="property_id" value="{{ property_id }}">
                        <input type="hidden" id="trip_id" value="{{ trip_id }}">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Position</label>
                                    <select class="form-control" name="position_review" id="position_review">
                                        <option value="">Please review</option>
                                        <option value="1">Low</option>
                                        <option value="2">Sufficient</option>
                                        <option value="3">Good</option>
                                        <option value="4">Excellent</option>
                                        <option value="5">Super</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Comfort</label>
                                    <select class="form-control" name="comfort_review" id="comfort_review">
                                        <option value="">Please review</option>
                                        <option value="1">Low</option>
                                        <option value="2">Sufficient</option>
                                        <option value="3">Good</option>
                                        <option value="4">Excellent</option>
                                        <option value="5">Super</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- End row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Price</label>
                                    <select class="form-control" name="price_review" id="price_review">
                                        <option value="">Please review</option>
                                        <option value="1">Low</option>
                                        <option value="2">Sufficient</option>
                                        <option value="3">Good</option>
                                        <option value="4">Excellent</option>
                                        <option value="5">Super</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Quality</label>
                                    <select class="form-control" name="quality_review" id="quality_review">
                                        <option value="">Please review</option>
                                        <option value="1">Low</option>
                                        <option value="2">Sufficient</option>
                                        <option value="3">Good</option>
                                        <option value="4">Excellent</option>
                                        <option value="5">Super</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- End row -->
                        <div class="form-group">
                            <textarea name="review_text" id="review_text" class="form-control" style="height:100px"
                                      placeholder="Write your review"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" id="verify_review" class="form-control"
                                   placeholder="Are you human? 3 + 1 =">
                        </div>


                        {# 提交按钮#}
                        <a id="add_review_form" class="btn btn-lg btn-block"
                           style="color: white; background: #FF3333; width: 200px; margin: auto;">Submit</a>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- End Modal Review -->


    <!------------------add review script----------------->
    <script>
        $(document).ready(function () {
            $("#add_review_form").click(function () {
                var error = 0;

                var pid = $("#property_id").val();
                var trip_id = $("#trip_id").val();

                var position_review = $("#position_review").val();
                var comfort_review = $("#comfort_review").val();
                var price_review = $("#price_review").val();
                var quality_review = $("#quality_review").val();
                var review_text = $("#review_text").val();
                var verify_review = $("#verify_review").val();

                if (!position_review || !comfort_review || !price_review || !quality_review || !review_text) {
                    alert("please fill out review!");
                    error = 1;
                }
                if (verify_review != 4) {
                    error = 1;
                    alert("wrong verify answer!");
                }
                if (error == 0) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'property:add_review' %}",
                        data: {
                            pid: pid,
                            trip_id: trip_id,
                            position_review: position_review,
                            comfort_review: comfort_review,
                            price_review: price_review,
                            quality_review: quality_review,
                            comment_content: review_text,
                        },
                        success: function (data, status) {
                            if (data == 1) {
                                alert("review succeed!");
                                location.href = "{% url "property:property_detail" property_id 0%}"
                            } else {
                                alert("something wrong!");
                                location.href = "{% url "property:property_detail" property_id trip_id%}"
                            }

                        }
                    })
                }
            })
        })
    </script>
    <!------------------end add review script----------------->

     <!------------------booking script----------------->
    <script>
        $(document).ready(function () {
            $("#submit-booking").click(function () {
                var error = 0;

                var pid = $("#property_id").val();

                var check_in = $("#check_in").val();
                var check_out = $("#check_out").val();
                var name_booking = $("#name_booking").val();
                var Phone_booking = $("#Phone_booking").val();


                if (!check_in || !check_out || !name_booking || !Phone_booking) {
                    alert("please fill out review!");
                    error = 1;
                }
                if (isNaN(Phone_booking)) {
                    $("#bk_phone_invalid").css('display', 'block');
                    error = 1;
                    alert("invalid phone number!");
                }
                if (error == 0) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'PendingAndBooking:booking' %}",
                        data: {
                            pid: pid,
                            check_in: check_in,
                            check_out: check_out,
                            name_booking: name_booking,
                            Phone_booking: Phone_booking,
                        },
                        success: function (data, status) {
                            if (data == 'failed') {
                                $("#bk_property_invalid").css('display', 'block');
                            } else {
                                alert("booking succeed!");
                                {#url+=data;#}
                                console.log(data)
                                {#var view_data = data.view_data;#}
                                location.href = `/booking/${data}/paynow/`;


                            }
                        }
                    })
                }

                return false;
            })
        })
    </script>
    <!------------------end booking script----------------->

    <!------------------pending script----------------->
    <script>
        $(document).ready(function () {
            $("#submit-pending").click(function () {
                var error = 0;

                var pid = $("#property_id").val();

                var check_in = $("#check_in").val();
                var check_out = $("#check_out").val();
                var name_booking = $("#name_booking").val();
                var Phone_booking = $("#Phone_booking").val();


                if (!check_in || !check_out || !name_booking || !Phone_booking) {
                    alert("please fill out review!");
                    error = 1;
                }
                if (isNaN(Phone_booking)) {
                    $("#bk_phone_invalid").css('display', 'block');
                    error = 1;
                    alert("invalid phone number!");
                }
                if (error == 0) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'PendingAndBooking:pending' %}",
                        data: {
                            pid: pid,
                            check_in: check_in,
                            check_out: check_out,
                            name_booking: name_booking,
                            Phone_booking: Phone_booking,
                        },
                        success: function (data, status) {
                            if (data == 'failed') {
                                $("#bk_property_invalid").css('display', 'block');
                            } else {
                                alert("pending succeed!");
                                {#url+=data;#}
                                console.log(data)
                                {#var view_data = data.view_data;#}
                                location.href = `/booking/${data}/pending_request/`;
                            }
                        }
                    })
                }

                return false;
            })
        })
    </script>
    <!------------------end booking script----------------->





    <!-- SPECIFIC SCRIPTS -->
    <script>
        $('.carousel_in').owlCarousel({
            center: true,
            items: 1,
            loop: true,
            autoplay: true,
            navText: ['', ''],
            addClassActive: true,
            margin: -1,
            responsive: {
                600: {
                    items: 1
                },
                1000: {
                    items: 2,
                    nav: true,
                }
            }
        });
    </script>
    <script src="{% static 'acomodation/js/theia-sticky-sidebar.js' %}"></script>
    <script>
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });
    </script>
    <script type="text/javascript" src="{% static 'acomodation/js/DateTimePicker.js' %}"></script>
    {#<script type="text/javascript" src="{% static 'acomodation/js/DateTimePicker.js' %}"></script>#}
    <script type="text/javascript">$("#dtBox").DateTimePicker();</script>
{% endblock script %}
